
body{
    background-color: rgb(255, 255, 255);
}

header{
    position: relative;
    bottom: 700px;
    border-radius: 50%;
    width: 100%;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    border: 0.2px solid black;
}
main{
    position: relative;
    bottom: 700px;
    display: grid;
    grid-area:"left center right ";
    grid-template-columns: 25% 50% 25%;
    margin: auto;
    width: 100%;
    height: 600px;
    border-radius: 10px;

}
.content-left{
  display: grid;
  grid-area: "left";
  width: 100%;

  border-radius: 10px;
}

.container-perfil{
    position: relative;
    bottom: 100px;
    margin: auto;
    border-radius: 50%;
    border: 0.2px solid black;
    /*left right espalhamento e tonalidade*/
    width: 200px;
    height: 200px;
    background-color: chocolate;
    background-image: url(../imagem/leandro.jpg);
    background-position: center;
    background-size: 100%;
    animation: 3s cor infinite;
}


.container-author{
    position: relative;
    bottom: 80px;
    width:250px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: 0.2px solid black;
    border-radius: 10px;
    margin: auto;

}
.author{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70px;
    border-radius: 20px;
    margin-right: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
    border: 0.2px solid black; 
    cursor: pointer;
}
.author:hover{
    background-color: rgb(5, 12, 83);
    color: rgb(206, 211, 198);
}
h3{
    text-align: center;
}
.content-center{
    display: grid;
    grid-area: "center";
    width: 100%;
    border-radius: 10px;
}

.container-poetry{
    position: relative;
    bottom: 160px;
    width: 500px;
    margin: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: 0.2px solid black;
    border-radius: 10px;
    overflow: scroll;
    
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.poem-text{
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 10px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: 0.2px solid black;

}
p{

    text-indent: 20px;
}
.content-right{
    display: grid;
    grid-area: "right";
    width: 100%;

    border-radius: 10px;
}
.container-outher{
    position: relative;
    bottom: 170px;
    width: 250px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: 0.2px solid black;
    margin: auto;
    border-radius: 10px;

}


footer{
    position: relative;
    bottom: 600px;
    width: 100%;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    border: 0.2px solid black;
    z-index: 0;
}

.correct-div{
    position: relative;
    top: 700px;
    width: 100%;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    border: 0.2px solid black;
    z-index: 1;
}

@keyframes cor {

    0%{
        box-shadow: 0px 0px 0px 0px  black;
    }

    25%{
        box-shadow:0px 0px 3px 0px  rgb(50, 45, 45);
    }

    50%{
        box-shadow:0px 0px 10px 1px  rgb(18, 4, 172);
    }
   
    75%{
        box-shadow:0px 0px 3px 0px  rgb(50, 45, 45);
    }

    100%{
        box-shadow:0px 0px 0px 0px  black;
    }
}



